In [26]:
# Importing the Required Libraries

import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [27]:
df = pd.read_csv('C:/Users/Priyanka/Desktop/PGP-DSE/Capstoneprojectworks/main_data.csv')
df.head(2)

,keywords,genre_name,cast_name,crew_name,original_title,soup
0,"['jealousy', 'toy', 'boy', 'friendship', 'frie...","['Animation', 'Comedy', 'Family']","['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim...","['John Lasseter', 'Joss Whedon', 'Andrew Stant...",Toy Story,"['jealousy', 'toy', 'boy', 'friendship', 'frie..."
1,"['board game', 'disappearance', ""based on chil...","['Adventure', 'Fantasy', 'Family']","['Robin Williams', 'Jonathan Hyde', 'Kirsten D...","['Larry J. Franco', 'Jonathan Hensleigh', 'Jam...",Jumanji,"['board game', 'disappearance', ""based on chil..."

In [28]:
df.columns

Index(['keywords', 'genre_name', 'cast_name', 'crew_name', 'original_title',
       'soup'],
      dtype='object')

In [29]:
df.isna().sum()

keywords          0
genre_name        0
cast_name         0
crew_name         0
original_title    0
soup              0
dtype: int64

In [30]:
df1 = df[['keywords','genre_name','cast_name','crew_name','original_title']]

In [31]:
df1.shape

(30895, 5)

In [43]:
print(df1['genre_name'].nunique())

3403

In [44]:
df1['soup']=df1['keywords']+df1['genre_name']+df1['cast_name']+df1['crew_name']

df1[['original_title', 'soup', 'cast_name', 'keywords', 'genre_name']].head()

df2 = df1.iloc[0:20000,:]

metadata=df2

In [45]:
metadata.columns

Index(['keywords', 'genre_name', 'cast_name', 'crew_name', 'original_title',
       'soup'],
      dtype='object')

In [46]:
metadata.shape

(20000, 6)

In [47]:
metadata.head(10)

,keywords,genre_name,cast_name,crew_name,original_title,soup
0,"['jealousy', 'toy', 'boy', 'friendship', 'frie...","['Animation', 'Comedy', 'Family']","['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim...","['John Lasseter', 'Joss Whedon', 'Andrew Stant...",Toy Story,"['jealousy', 'toy', 'boy', 'friendship', 'frie..."
1,"['board game', 'disappearance', ""based on chil...","['Adventure', 'Fantasy', 'Family']","['Robin Williams', 'Jonathan Hyde', 'Kirsten D...","['Larry J. Franco', 'Jonathan Hensleigh', 'Jam...",Jumanji,"['board game', 'disappearance', ""based on chil..."
2,"['fishing', 'best friend', 'duringcreditssting...","['Romance', 'Comedy']","['Walter Matthau', 'Jack Lemmon', 'Ann-Margret...","['Howard Deutch', 'Mark Steven Johnson', 'Mark...",Grumpier Old Men,"['fishing', 'best friend', 'duringcreditssting..."
3,"['based on novel', 'interracial relationship',...","['Comedy', 'Drama', 'Romance']","['Whitney Houston', 'Angela Bassett', 'Loretta...","['Forest Whitaker', 'Ronald Bass', 'Ronald Bas...",Waiting to Exhale,"['based on novel', 'interracial relationship',..."
4,"['baby', 'midlife crisis', 'confidence', 'agin...",['Comedy'],"['Steve Martin', 'Diane Keaton', 'Martin Short...","['Alan Silvestri', 'Elliot Davis', 'Nancy Meye...",Father of the Bride Part II,"['baby', 'midlife crisis', 'confidence', 'agin..."
5,"['robbery', 'detective', 'bank', 'obsession', ...","['Action', 'Crime', 'Drama', 'Thriller']","['Al Pacino', 'Robert De Niro', 'Val Kilmer', ...","['Michael Mann', 'Michael Mann', 'Art Linson',...",Heat,"['robbery', 'detective', 'bank', 'obsession', ..."
6,"['paris', 'brother brother relationship', 'cha...","['Comedy', 'Romance']","['Harrison Ford', 'Julia Ormond', 'Greg Kinnea...","['Sydney Pollack', 'Barbara Benedek', 'Sydney ...",Sabrina,"['paris', 'brother brother relationship', 'cha..."
7,"['terrorist', 'hostage', 'explosive', 'vice pr...","['Action', 'Adventure', 'Thriller']","['Jean-Claude Van Damme', 'Powers Boothe', 'Do...","['Peter Hyams', 'Karen Elise Baldwin', 'Gene Q...",Sudden Death,"['terrorist', 'hostage', 'explosive', 'vice pr..."
8,"['cuba', 'falsely accused', 'secret identity',...","['Adventure', 'Action', 'Thriller']","['Pierce Brosnan', 'Sean Bean', 'Izabella Scor...","['Martin Campbell', 'Ian Fleming', 'Jeffrey Ca...",GoldenEye,"['cuba', 'falsely accused', 'secret identity',..."
9,"['white house', 'usa president', 'new love', '...","['Comedy', 'Drama', 'Romance']","['Michael Douglas', 'Annette Bening', 'Michael...","['John Seale', 'Rob Reiner', 'Rob Reiner', 'Ro...",The American President,"['white house', 'usa president', 'new love', '..."

In [49]:

# content-based filtering movie-recommendation system

movie_title = metadata['original_title']
indices = pd.Series(metadata.index, index=metadata['original_title'])

def movie_recommendation(movie_name):
    count = CountVectorizer(stop_words='english')
    count_matrix = count.fit_transform(metadata['soup'])
    cosine_sim2 = cosine_similarity(count_matrix, count_matrix)
    idx = indices[movie_name]
    sim_scores = list(enumerate(cosine_sim2[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)[1:]
    sim_scores = sim_scores[1:31]
    movie_indices = [i[0] for i in sim_scores]
    return movie_title.iloc[movie_indices]
    

movie_name = input("Enter the Movie Title : ")
Recommendations = movie_recommendation(movie_name).head(10)
Titles = Recommendations.tolist()

# We try to give Top 10 similar recommendations to the users:

print("The Movies Titles are : \n")
for i in Titles:
    print("\n", i)

The Movies Titles are :


 A Sound of Thunder

 The Order

 Double Impact

 Timecop

 Universal Soldier: Day of Reckoning

 The Quest

 Wake of Death

 Dragon Eyes

 Narrow Margin

 The Presidio