In [20]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [21]:
df1 = pd.read_csv('C:/Users/Priyanka/Desktop/PGP-DSE/Capstoneprojectworks/Main_filtered.csv')
df1.head(2)

,Unnamed: 0,adult,id,original_language,original_title,overview,popularity,revenue,runtime,genre_name,production_companies_name,cast_name,crew_name,vote_average
0,0,False,862,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,373554033.0,81.0,"['Animation', 'Comedy', 'Family']",['Pixar Animation Studios'],"['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim...","['John Lasseter', 'Joss Whedon', 'Andrew Stant...",7.7
1,1,False,8844,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,262797249.0,104.0,"['Adventure', 'Fantasy', 'Family']","['TriStar Pictures', 'Teitler Film', 'Intersco...","['Robin Williams', 'Jonathan Hyde', 'Kirsten D...","['Larry J. Franco', 'Jonathan Hensleigh', 'Jam...",6.9

In [22]:
df1.columns

Index(['Unnamed: 0', 'adult', 'id', 'original_language', 'original_title',
       'overview', 'popularity', 'revenue', 'runtime', 'genre_name',
       'production_companies_name', 'cast_name', 'crew_name', 'vote_average'],
      dtype='object')

In [23]:
df1.drop(columns=['Unnamed: 0'],axis=1,inplace=True)

In [24]:
df1.shape

(44495, 13)

In [25]:
df1.dtypes

adult                           bool
id                             int64
original_language             object
original_title                object
overview                      object
popularity                   float64
revenue                      float64
runtime                      float64
genre_name                    object
production_companies_name     object
cast_name                     object
crew_name                     object
vote_average                 float64
dtype: object

In [27]:
df1['soup']=df1['overview']+df1['genre_name']+df1['cast_name']+df1['crew_name']

df1[['original_title', 'soup', 'cast_name', 'overview', 'genre_name']].head()

df2 = df1.iloc[0:20000,:]

metadata=df2

new_row = metadata.iloc[-1,:].copy()

new_row.iloc[-1]=" ".join(['Animation','Adventures','Comedy','Family'])

metadata = metadata.append(new_row)

count = CountVectorizer(stop_words='english')

count_matrix = count.fit_transform(metadata['soup'])

cosine_sim2 = cosine_similarity(count_matrix, count_matrix)

sim_scores = list(enumerate(cosine_sim2[-1,:]))

sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

ranked_titles = []

for i in range(1, 11):

    indx = sim_scores[i][0]

    ranked_titles.append([metadata['original_title'].iloc[indx]])

In [28]:
print("The Ranked Titles are : \n")
for i in ranked_titles:
    print("\n", i)

The Ranked Titles are :


 ['Creature Comforts']

 ['Dead Fury']

 ["What's Cooking?"]

 ['Jib']

 ['Living with the Fosters']

 ["Ollie Hopnoodle's Haven of Bliss"]

 ['Madeline']

 ['Spider Baby']

 ['Stuart Little']

 ['Holiday in Handcuffs']

In [29]:
df = pd.read_csv('C:/Users/Priyanka/Desktop/PGP-DSE/Capstoneprojectworks/main_data.csv')
df.head(2)

,keywords,genre_name,cast_name,crew_name,original_title,soup
0,"['jealousy', 'toy', 'boy', 'friendship', 'frie...","['Animation', 'Comedy', 'Family']","['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim...","['John Lasseter', 'Joss Whedon', 'Andrew Stant...",Toy Story,"['jealousy', 'toy', 'boy', 'friendship', 'frie..."
1,"['board game', 'disappearance', ""based on chil...","['Adventure', 'Fantasy', 'Family']","['Robin Williams', 'Jonathan Hyde', 'Kirsten D...","['Larry J. Franco', 'Jonathan Hensleigh', 'Jam...",Jumanji,"['board game', 'disappearance', ""based on chil..."

In [30]:
df.isna().sum()

keywords          0
genre_name        0
cast_name         0
crew_name         0
original_title    0
soup              0
dtype: int64

In [31]:
df1 = df[['keywords','genre_name','cast_name','crew_name','original_title']]

In [32]:
df1.shape

(30895, 5)

In [33]:
df1['soup']=df1['keywords']+df1['genre_name']+df1['cast_name']+df1['crew_name']

df1[['original_title', 'soup', 'cast_name', 'keywords', 'genre_name']].head()

df2 = df1.iloc[0:25000,:]

metadata=df2

new_row = metadata.iloc[-1,:].copy()

new_row.iloc[-1]=" ".join(['Animation','Adventures'])

metadata = metadata.append(new_row)

count = CountVectorizer(stop_words='english')

count_matrix = count.fit_transform(metadata['soup'])

cosine_sim2 = cosine_similarity(count_matrix, count_matrix)

sim_scores = list(enumerate(cosine_sim2[-1,:]))

sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

ranked_titles = []

for i in range(1, 11):

    indx = sim_scores[i][0]

    ranked_titles.append([metadata['original_title'].iloc[indx]])

In [34]:
print("The Ranked Titles are : \n")
for i in ranked_titles:
    print("\n", i)

The Ranked Titles are :


 ['Creature Comforts']

 ['Les dents du singe']

 ['Les temps morts']

 ['Day & Night']

 ['Les Escargots']

 ['ショート・ピース']

 ["Beyond The Mind's Eye"]

 ['Lifted']

 ['The Adventures of André and Wally B.']

 ['チェーンソー・メイド']